<%- include('header.ejs') %>
<%- include('login-header.ejs') %>

<div class="info">
    <strong class="price">Price <%-price%> Matic</strong>
    <span class="addr">From: <%-buyer%></span>
    <span class="addr">To: <%-seller%></span>
    <span class="date">Opened <%-created%></span>
    <span class="date">Closed <%-confirmed%></span>
    <span class="status"><%-status%></span>
    
    <input id="idPag" type="hidden" value="<%=id%>">
    <button id="unlockFundsButton">Confirm</button>
</div>

<%- include('login-footer.ejs') %>
<%- include('footer.ejs') %>