<%- include('header.ejs') %>

<div class="info">
    <strong class="price">Price <%-price%>$</strong>
    <div class="addr">
        From: <span id="buyer"><%-buyer%></span>
    </div>
    
    <div class="addr">
        To: <span id="seller"><%-seller%></span>
    </div>
    <span class="date">Opened <%-created%></span>
    <%-confirmed%>
    <span class="status" id="status"><%-status%></span>
    
    <input id="idPag" type="hidden" value="<%=id%>">
    <a id="unlockFundsButton" onclick="onClickUnlockFunds()">Confirm</a>
</div>

<%- include('footer.ejs') %>