<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landing page | Shop Chain</title>
  
<%- include('header.ejs') %>

<div class="info">
    <strong class="price">Price <%-price%>$</strong>
    <span class="addr extraspace">Seller: <%-seller%></span>
    
    <input id="idPag" type="hidden" value="<%=id%>">
    <button id="settlePaymentButton" onclick="onClickSettlePayment()">Confirm</button>
</div>

<%- include('footer.ejs') %>