<%- include('header.ejs') %>
<%- include('login-header.ejs') %>

<div class="info">
    <strong class="price">Price <%-price%> Matic</strong>
    <span class="addr extraspace">Seller: <%-seller%></span>
    
    <input id="idPag" type="hidden" value="<%=id%>">
    <button id="settlePaymentButton">Paga</button>
</div>

<%- include('login-footer.ejs') %>
<%- include('footer.ejs') %>