<%- include('header.ejs') %>

        <button id="connectButton"> </button>
        <p id="networkNameText"> </p>

        <br>

        <button disabled id="confirmQRButton"> Conferma <span id="idPagamento"><%=idTransazione%></span> </button>

	<br>
	<br>

        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@metamask/onboarding@1.0.1/dist/metamask-onboarding.bundle.js"></script>

        <script type="text/javascript" src="../js/app.js"> </script>

	<b> Acquirente: </b><%=acquirente%><br>
	<b> Id oggetto: </b><%=paymentEntryId%><br>
	<b> Stato: </b><%=status%><br>

<%- include('footer.ejs') %>